<div class="mx-auto" style="text-align: center;
    height: calc(100vh - 64px);
    align-content: center;">
  
    <h1 class="text-3xl font-bold" style="margin-bottom: 20px;">
      Schedule meetings, send invites and connect with your team members
    </h1>
    <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Start a meeting</a>
</div>
